<nav class="ui inverted menu">
    <%= link_to 'New Board', new_board_path %>  |
    <%= link_to 'Main Page', boards_path %>
    <div class="ui right inverted menu">
        <% if current_user %>
            <%= link_to "Logout", destroy_user_session_path %>
        <% else %>
            <%= link_to 'Register', new_user_registration_path %>  | 
            <%= link_to 'Login', new_user_session_path %>
        <% end %>
    </div>
</nav>

